# Maintained by Ansible
{# kafka_broker_final_properties defined in the confluent.variables role #}
zookeeper.connect= "{{ groups['kafka_broker'] | default(['localhost']) | join(':' + broker_client_port|string + ',') }}:{{broker_client_port}}"
group.initial.rebalance.delay.ms=3000
log.retention.check.interval.ms=300000
log.retention.hours=168
log.segment.bytes=1073741824
num.io.threads=16
num.network.threads=8
num.partitions=1
num.recovery.threads.per.data.dir= 2
broker.id=1
##LDAP settings
ldap.authorizer.java.naming.security.principal=CN:Type S\\, EAH URTABTKW,OU=Service Accounts,OU=NOC Admin,OU=Accounts,OU=BAND
ldap.group.member.attribute.pattern=CN=(.*),OU=rbac,DC=example,DC=com
ldap.java.naming.provider.url=ldap://ldap1:389
confluent.security.event.router.config=\
{ \
    "destinations": { \
        "bootstrap_servers": ["audit.example.com:9092"], \
        "topics": { \
            "confluent-audit-log-events": { \
                "retention_ms": 7776000000
            } \
        } \
    }, \
    "default_topics": { \
        "allowed": "confluent-audit-log-events", \
        "denied": "confluent-audit-log-events" \
    } \
